.loaderApi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Ensure the loader covers the full viewport height */
}

.loaderApi {
  border: 12px solid #f3b518;
  border-top: 10px solid #f3f3f3;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  animation: spin 2s linear infinite;
  margin: 0 10px; /* Add some horizontal spacing between loaders */
}

.loaderApi:first-child {
  left: -22.5px;
  animation-direction: normal;
  margin-right: -10px;
}

.loaderApi:last-child {
  left: 22.5px;
  animation-direction: reverse;
  margin-left: -10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.loaderApi:last-child {
  animation-direction: reverse;
  animation-delay: 1s;
}

.loaderApi:first-child {
  animation-direction: normal;
  animation-delay: 1s;
}
